<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <title>탈출하자</title>

    <script>
        $(document).ready(function () {
            // $.ajax({
            //     type: "GET",
            //     url: "http://spartacodingclub.shop/sparta_api/rate",
            //     data: {},
            //     success: function (response) {
            //         let rate = response['rate'];
            //         $("#rate").text(rate);
            //     }
            // })
            showJobs()
        });

        function showJobs() {
            $.ajax({
                type: "GET",
                url: "/jobs_get",
                data: {},
                success: function (response) {
                    const data = response['job_list']
                    for (let i = 0; i < data.length; i++) {
                        let data_company = data[i]['company']
                        let data_company_url = data[i]['company_url']
                        let data_title = data[i]['title']
                        let data_title_url = data[i]['title_url']
                        let region = data[i]['region']

                        const temp_html = `
                                <tr>
                                    <td><a href="${data_company_url}">${data_company}</a></td>
                                    <td><a href="${data_title_url}">${data_title}</td>
                                    <td>${region}</td>
                                </tr>
                            `
                        $("#jobsTable").append(temp_html)
                    }
                }
            })
        }
    </script>

</head>

<body>
    <table class="type07">
        <thead>
            <tr>
                <th>회사명</th>
                <th>공고명</th>
                <th>지역</th>
            </tr>
        </thead>
        <tbody id="jobsTable">

        </tbody>
    </table>

</body>

</html>